
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">RSS Feed</h1>
    <p class="lead">Utilización de fuentes de sindicación/suscripción, RegEX y XQuery: </p>
    <span class="text-muted">Grupo 10: Diego - Lucy - Alejandro</span>
  </div>
</div>

<div class="container-fluid">
  


    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="col-form-label">Titulo</label>
        <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="title">
      </div>
      <div class="form-group col-md-3">
        <label class="col-form-label">Contenido</label>
        <input type="text" class="form-control" placeholder="Contenido" [(ngModel)]="description">
      </div>
      <div class="form-group col-md-3">
        <label class="col-form-label">Categoria</label>
        <input type="text" class="form-control" placeholder="Categoria" [(ngModel)]="category">
      </div>
      <div class="form-group col-md-3">
        <button (click)="clean()" class="form-control btn btn-primary" style="margin-bottom: 1px;">Limpiar</button>
        <button (click)="filter()" class="form-control btn btn-primary">Filtrar</button>
      </div>
    </div>




  <div class="row">
    <div class="col-md-4 col-xs-12">

      <div style="text-align:center">
        <h1>
          Sin filtrar
        </h1>
      </div>


      <div id="accordion" role="tablist">
        <div class="card">

          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 WIRED RSS Feed <span class="badge badge-pill badge-danger">{{rssWiredLen}}</span>
             </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div *ngFor="let rss of rssWired" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                LIFEHACKER RSS Feed <span class="badge badge-pill badge-danger">{{rssLifeHLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div *ngFor="let rss of rssLifeH" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                BBC RSS Feed <span class="badge  badge-pill badge-danger">{{rssBbcLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div *ngFor="let rss of rssBbc" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-xs-12">
      <div style="text-align:center">
        <h1>
          Filtrado por Regex
        </h1>
      </div>

      <div id="accordionRegex" role="tablist">
        <div class="card">

          <div class="card-header" role="tab" id="headingOneRegex">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOneRegex" aria-expanded="true" aria-controls="collapseOneRegex">
                 WIRED RSS Feed <span class="badge badge-pill badge-danger">{{rssWiredRegexLen}}</span>
             </a>
            </h5>
          </div>

          <div id="collapseOneRegex" class="collapse show" role="tabpanel" aria-labelledby="headingOneRegex" data-parent="#accordionRegex">
            <!--<div *ngFor="let rss of rssWiredRegex | regexTitle:'title':'' | regexTitle:'description':'the veteran astronaut' " class="card-body">-->
              <div *ngFor="let rss of rssWiredRegex" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwoRegex">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwoRegex" aria-expanded="false" aria-controls="collapseTwoRegex">
                LIFEHACKER RSS Feed <span class="badge badge-pill badge-danger">{{rssLifeHRegexLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseTwoRegex" class="collapse" role="tabpanel" aria-labelledby="headingTwoRegex" data-parent="#accordionRegex">
            <div *ngFor="let rss of rssLifeHRegex" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThreeRegex">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThreeRegex" aria-expanded="false" aria-controls="collapseThreeRegex">
                BBC RSS Feed <span class="badge badge-pill badge-danger">{{rssBbcRegexLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseThreeRegex" class="collapse" role="tabpanel" aria-labelledby="headingThreeRegex" data-parent="#accordionRegex">
            <div *ngFor="let rss of rssBbcRegex" class="card-body">
              <span><b>{{rss.title}}</b></span>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-4 col-xs-12">
      <div style="text-align:center">
        <h1>
          Filtrado por XQuery
        </h1>
      </div>

      <div id="accordionXQuery" role="tablist">
        <div class="card">

          <div class="card-header" role="tab" id="headingOneXQuery">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOneXQuery" aria-expanded="true" aria-controls="collapseOneXQuery">
                 WIRED RSS Feed <span class="badge badge-pill badge-danger">{{rssWiredXQLen}}</span>
             </a>
            </h5>
          </div>

          <div id="collapseOneXQuery" class="collapse show" role="tabpanel" aria-labelledby="headingOneXQuery" data-parent="#accordionXQuery">
            <div *ngFor="let rss of rssWiredXQ" class="card-body">
              <span><b>{{rss.title}}</b></span><br/>
              <span><b>{{rss.pubDate | date}}</b></span><br/>
              <a [attr.href]="rss.link">Ver más...</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwoXQuery">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwoXQuery" aria-expanded="false" aria-controls="collapseTwoXQuery">
                LIFEHACKER RSS Feed <span class="badge badge-pill badge-danger">{{rssLifeHXQLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseTwoXQuery" class="collapse" role="tabpanel" aria-labelledby="headingTwoXQuery" data-parent="#accordionXQuery">
            <div *ngFor="let rss of rssLifeHXQ" class="card-body">
              <span><b>{{rss.title}}</b></span><br/>
              <span><b>{{rss.pubDate | date}}</b></span><br/>
              <a [attr.href]="rss.link">Ver más...</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingThreeXQuery">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThreeXQuery" aria-expanded="false" aria-controls="collapseThreeXQuery">
                BBC RSS Feed <span class="badge badge-pill badge-danger">{{rssBbcXQLen}}</span>
              </a>
            </h5>
          </div>
          <div id="collapseThreeXQuery" class="collapse" role="tabpanel" aria-labelledby="headingThreeXQuery" data-parent="#accordionXQuery">
            <div *ngFor="let rss of rssBbcXQ" class="card-body">
              <span><b>{{rss.title}}</b></span><br/>
              <span><b>{{rss.pubDate | date}}</b></span><br/>
              <a [attr.href]="rss.link">Ver más...</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--
<ul>
  <div *ngFor="let prof of profesores">
    <h2>{{prof.name}}</h2>
    <span><b>Cargo:</b> {{prof.cargo}}</span>
    <p><b>Intereses:</b> {{prof.intereses}}</p>
    <hr/>
  </div>
</ul>
-->
